.img {
  width: 78px;
  height: 78px;
  margin: 0 20px;
}

.home {
  text-decoration: none;
  color: #3a1212;
  border-bottom: 3px solid #ff2625;
}

.exercises {
  text-decoration: none;
  color: #3a1212;
}
