.topToBtm {
  position: relative;
}
.iconPosition {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.iconStyle {
  background-color: #551b54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
}
.iconStyle:hover {
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
}
